{% extends "base.html"%}

{% block title%}Add Grocery Item{%endblock%}


{%block content%}


<h1 class="text-center my-3">Add your grocery item:</h1>

<div class="container">

    <div class="row">
        <div class="col-6 offset-3 my-3">
            {% if error == True%}
            <p class=" text-center text-warning">Grocery item already exists.</p>
            {%endif%}
            <form action="{%url 'groceryapp:add_grocery_item' %}" method='POST'>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="item_name" class="form-label">Item Name:</label>
                    <input type="text" class="form-control" id="item_name" placeholder="Enter item name"
                        name="item_name" value="{{item_name}}" maxlength="50" required>
                </div>
                <div class="mb-3">
                    <label for="quantity" class="form-label">Quantity: </label>
                    <input type="text" class="form-control" id="quantity" placeholder="Enter quantity" name="quantity"
                        value="{{quantity}}" maxlength="50" required>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category: </label>
                    <input type="text" class="form-control" id="category" rows="3" placeholder="Enter category"
                        name="category" value="{{category}}" maxlength="50" required></input>
                </div>
                <div class="text-center">
                    <input class="btn bg-success-subtle border border-success" type="submit" value="Add Item">
                </div>
            </form>
        </div>
    </div>
</div>


{%endblock%}