{%extends "base.html"%}

{%block title%}Register{%endblock%}

{%block content%}
<h1 class="text-center my-3">Change Password</h1>

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            {% if error == True%}
            <p class="text-danger">Password do not match is already in use.</p>
            {%endif%}
            <form action="{%url 'groceryapp:change_password'%}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="password" class="form-label">Current Password:</label>
                    <input type="text" class="form-control" id="password" value="{{password}}" maxlength="20"
                        name="password" required>
                </div>
                <div class="mb-3">
                    <label for="new_password" class="form-label">New Password:</label>
                    <input type="text" class="form-control" id="new_password" value="{{new_password}}" maxlength="20"
                        name="new_password" required>
                </div>
                <div class="mb-3">
                    <label for="re_password" class="form-label">Re-Enter New Password</label>
                    <input type="re_password" class="form-control" id="re_password" value="{{re_password}}"
                        maxlength="20" name="re_password" required>
                </div>
                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>
    </div>
</div>



{%endblock%}