{% extends "base.html"%}

{% block content%}


{% if groceryitem_list and user.is_anonymous == False %}
<h1 class="text-center my-3"> Welcome {{user.first_name}} {{user.last_name}}</h1>

<div class="container">
    <div class="row text-center">
        <!-- <div class="col-3 border border-secondary bg-success-subtle">Grocery item</div>
        <div class="col-3  border border-secondary bg-success-subtle">Quantity</div>
        <div class="col-3 border border-secondary bg-success-subtle">Category</div>
        <div class="col-3 border border-secondary bg-success-subtle">Status</div> -->
        {% for groceryitem in groceryitem_list %}
        <!-- <div class="col-3  border border-secondary"><a class="text-decoration-none"
                href="{%url 'groceryapp:viewgroceryitem' groceryitem.id%}">{{groceryitem.item_name}}</a></div>
        <div class="col-3  border border-secondary">{{groceryitem.quantity}}</div>
        <div class="col-3  border border-secondary">{{groceryitem.category}}</div>
        <div class="col-3  border border-secondary">{{groceryitem.status}}</div> -->
        <div class="card mx-3 border border-secondary" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title">{{groceryitem.item_name}}</h5>
                <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item">Quantity: {{groceryitem.quantity}}</li>
                <li class="list-group-item">Category: {{groceryitem.category}}</li>
                <li class="list-group-item">Status: {{groceryitem.status}}</li>
            </ul>
            <div class="card-body">
                <a href="{%url 'groceryapp:viewgroceryitem' groceryitem.id%}" class="card-link text-decoration-none ">Go
                    to item view</a>
            </div>
        </div>
        {% endfor%}
    </div>

</div>


{% elif groceryitem_list.count == 0 and user.is_anonymous == False%}
<h1 class="text-center my-3"> Welcome {{user.first_name}} {{user.last_name}}</h1>
<p class="text-center my-3">No tasks have been created.</p>

{%else%}
<h1 class="text-center my-3">You are not authorized to access this page.</h1>
<p class="text-center my-3">Please login <a href="{% url 'groceryapp:login' %}">here.</a></p>
{% endif %}

{%endblock%}