{%extends "base.html"%}

{%block title%}Register{%endblock%}

{%block content%}
<h1 class="text-center my-3">Registration Form</h1>

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            {% if error == True%}
            <p class="text-danger">Username is already in use.</p>
            {%endif%}
            <form action="{%url 'groceryapp:register'%}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control" id="username" value="{{username}}" maxlength="20"
                        name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" value="{{password}}" maxlength="20"
                        name="password" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="text" class="form-control" id="email" value="{{email}}" maxlength="20" name="email"
                        required>
                </div>
                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name:</label>
                    <input type="text" class="form-control" id="first_name" value="{{first_name}}" maxlength="20"
                        name="first_name" required>
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name:</label>
                    <input type="text" class="form-control" id="last_name" value="{{last_name}}" maxlength="20"
                        name="last_name" required>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>



{%endblock%}