{% extends "base.html"%}

{% block title %}My Events{%endblock%}


{% block content%}

<div class="text-center mt-3">
    <h1>{{event_name}}</h1>
    <h3>When:</h3>
    <p>{{When}}</p>
    <h3>Description:</h3>
    <p>{{description}}</p>
    <h3>Status:</h3>
    <p>{{status}}</p>

    <button class=" btn bg-warning-subtle mx-1 border border-secondary"><a class=" text-decoration-none text-secondary"
            href="{%url 'todolist:index'%}">Back to
            index
            page.</a></button>
</div>





{%endblock%}