{%extends "base.html" %}

{%block title%}Home{%endblock%}

{%block content%}
{%if user.is_anonymous == False %}
{% if todoitem_list%}
<h1 class="text-center my-3"> Welcome {{user.first_name}} {{user.last_name}}</h1>

<div class="container">
    <div class="row">
        <h3 class="text-center mb-3">My Tasks</h3>
        {% for todoitem in todoitem_list %}
        <div class="card mx-3 border border-secondary" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title">{{todoitem.task_name}}</h5>
                <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item">Quantity: {{todoitem.description}}</li>
                <li class="list-group-item">Status: {{todoitem.status}}</li>
            </ul>
            <div class="card-body text-center">
                <button class="btn bg-danger-subtle">
                    <a href="{% url 'todolist:viewtodoitem' todoitem.id%}"
                        class="card-link text-decoration-none text-secondary">Check
                        Task</a>
                </button>
            </div>
        </div>
        {% endfor%}
    </div>
</div>

{%else%}
<h1 class="text-center my-3"> Welcome {{user.first_name}} {{user.last_name}}</h1>
<h3 class="text-center mb-3">My Tasks</h3>
<p class="text-center my-3">No tasks have been created.</p>

{% endif %}

{% if eventitem_list%}

<div class="container">
    <div class="row">
        <h3 class="text-center mb-3">My Events</h3>
        {% for eventitem in eventitem_list %}
        <div class="card mx-3 border border-secondary" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title">{{eventitem.event_name}}</h5>
                <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item">When: {{eventitem.event_time}}</li>
                <li class="list-group-item">Description: {{eventitem.description}}</li>
                <li class="list-group-item">Status: {{eventitem.status}}</li>
            </ul>
            <div class="card-body text-center">
                <button class="btn bg-primary-subtle">
                    <a href="{%url 'todolist:vieweventitem' eventitem.id%}"
                        class="card-link text-decoration-none text-secondary">Check
                        Event</a>
                </button>
            </div>
        </div>
        {% endfor%}
    </div>
</div>

{% else%}
<h3 class="text-center mb-3">My Events</h3>
<p class="text-center my-3">No ongoing events.</p>
{% endif %}
{% else%}
<h1 class="text-center my-3">You are not authorized to access this page.</h1>
<p class="text-center my-3">Please login <a href="{% url 'todolist:login' %}">here.</a></p>
{% endif %}

{%endblock%}