{% extends "base.html"%}

{% block title %}My Tasks{%endblock%}


{% block content%}

<div class="text-center mt-3">
    <h1>{{task_name}}</h1>
    <h3>Description:</h3>
    <p>{{description}}</p>
    <h3>Status:</h3>
    <p>{{status}}</p>
    <button class="btn bg-success-subtle mx-1 border border-secondary"><a class="text-decoration-none text-secondary"
            href="{%url 'todolist:update_task' id%}">Edit this
            Task</a></button>

    <button class="btn bg-danger-subtle mx-1 border border-secondary"><a class="text-decoration-none text-secondary"
            href="{%url 'todolist:delete_task' id%}">Delete this
            Task</a></button>

    <button class=" btn  bg-warning-subtle mx-1 border border-secondary"><a class=" text-decoration-none text-secondary"
            href="{%url 'todolist:index'%}">Back to
            index
            page.</a></button>
</div>





{%endblock%}