{%extends "base.html"%}

{%block title%}Update User{%endblock%}

{%block content%}
{%if user.is_anonymous == False %}
<h1 class="text-center my-3">Update User</h1>

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            {% if error == True%}
            <p class="text-danger">Password do not match.</p>
            {%endif%}
            <form action="{%url 'todolist:update_user'%}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name:</label>
                    <input type="text" class="form-control" id="first_name" value="{{first_name}}" maxlength="20"
                        name="first_name" required>
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name:</label>
                    <input type="text" class="form-control" id="last_name" value="{{last_name}}" maxlength="20"
                        name="last_name" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Current Password:</label>
                    <input type="password" class="form-control" id="password" value="{{password}}" maxlength="20"
                        name="password" required>
                </div>
                <div class="mb-3">
                    <label for="new_password" class="form-label">New Password:</label>
                    <input type="password" class="form-control" id="new_password" value="{{new_password}}"
                        maxlength="20" name="new_password">
                </div>
                <div class="mb-3">
                    <label for="re_password" class="form-label">Re-Enter New Password</label>
                    <input type="password" class="form-control" id="re_password" value="{{re_password}}" maxlength="20"
                        name="re_password">
                </div>
                <button type="submit" class="btn btn-primary">Update User</button>
            </form>
        </div>
    </div>
</div>
{%endif%}


{%endblock%}