<nav class="navbar navbar-expand-lg bg-primary-subtle border border-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'groceryapp:index' %}">Grocery List PH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{%url 'groceryapp:index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'groceryapp:add_grocery_item'%}">Add Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'groceryapp:index' %}">Check List</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown link
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{%url 'groceryapp:register'%}">Register</a></li>
                        <li><a class="dropdown-item" href="{%url 'groceryapp:change_password'%}">Change Password</a>
                        </li>
                        <li><a class="dropdown-item" href="{%url 'groceryapp:login'%}">Login</a></li>
                        <li><a class="dropdown-item" href="{%url 'groceryapp:logout'%}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>